<nav class="navbar is-fixed is-transparent">
    <!-- Logo -->
    <div class="navbar-brand">
        <a class="navbar-item " href="#">
            <img src="assets/logoLong.png" alt="D.Nguyen">
        </a>
    </div>

    <div class="navbar-menu" id="HeaderMenu">
        <!-- Home -->
        <div class="navbar-start">
            <a class="navbar-item" href="1">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverabe">
                <a class="navbar-item">
                    Assignments
                </a>
            </div>

        <!-- About Me -->
            <a class="navbar-item" href="2">
                About Me
            </a>
        </div>
        
        

    </div>

</nav>