<nav class="navbar is-fixed is-transparent" role="navigation">
    <!-- Logo -->
    <div class="navbar-brand">
        <a id="logo" class="navbar-item " href="#">
            <img src="assets/logoLong.png" alt="D.Nguyen">
        </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="dropdrop">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="dropdrop">
        <!-- Home -->
        <div class="navbar-center">
            <a class="navbar-item" id="fontBarBig" href="#">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" id="fontBarBig">
                    Assignments
                </a>

                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="#"> Assignment 2A </a>
                    <a class="navbar-item" href="#"> Assignment 3 </a>
                    <a class="navbar-item" href="#"> Assignment 4 </a>
                    <a class="navbar-item" href="#"> Assignment 5 </a>
                    <a class="navbar-item" href="#"> Assignment 6 </a>
                    <a class="navbar-item" href="#"> Assignment 7 </a>
                    <a class="navbar-item" href="#"> Assignment 8 </a>
                    <a class="navbar-item" href="#"> Assignment 9 </a>
                    <a class="navbar-item" href="#"> Final Assignment </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        <i>v.Spring.2022</i>
                    </a>
                </div>
            </div>

            <!-- About Me -->
            <a class="navbar-item" id="fontBarBig" href="#">
                About Me
            </a>
        </div>
    </div>
</nav>