<nav class="navbar is-fixed" style="border-bottom: 1px solid #a8b5d1">
    <!-- Logo -->
    <div class="navbar-brand is-align-items-center">
        <a class="navbar-item force-center" href="#" style="left: 30px;">
            <img src="assets/logoLong.png" alt="D.Nguyen">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu is-align-items-center" style="margin-top:40px;">
        <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
            <!-- Home -->
            <div class="navbar-item">
                <a class="navbar-item" href="#">
                    Home
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Assignments
                    </a>

                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="#"> Assignment 2A </a>
                        <a class="navbar-item" href="#"> Assignment 3 </a>
                        <a class="navbar-item" href="#"> Assignment 4 </a>
                        <a class="navbar-item" href="#"> Assignment 5 </a>
                        <a class="navbar-item" href="#"> Assignment 6 </a>
                        <a class="navbar-item" href="#"> Assignment 7 </a>
                        <a class="navbar-item" href="#"> Assignment 8 </a>
                        <a class="navbar-item" href="#"> Assignment 9 </a>
                        <a class="navbar-item" href="#"> Final Assignment </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            <i>v.Spring.2022</i>
                        </a>
                    </div>
                </div>

                <!-- About Me -->
                <a class="navbar-item" href="#">
                    About Me
                </a>
            </div>
        </div>
    </div>
</nav>