<footer class="footer" style="border-top: 1px solid #a8b5d1">
    <div class="container content has-text-centered" id="centerContainer">
        <img id="footerLogo" src="assets/logoCircleRAW.png" class="center">
        <p id="madeMe"> Made by David Nguyen ❤</p>
    </div>
    <div class="columns" id="bigCol1">
        <!-- Column 1 -->
        <div class="column" id="col1">
            <h1 class="bd-footer-title 
                 has-text-weight-medium
                 has-text-left">
                CSC 196W Assignment Website
            </h1>
            <p id="description">
                <i>
                    This website is for David to store and show what he learned
                    through this class and what he picked up from experiences
                    during this course.
                </i>
                <br><br>
                Built using Angular.js Framework
            </p>
        </div>

        <!-- Column empty -->
        <div class="column" id="fillCol">
        </div>

        <!-- Column 2 -->
        <div class="column" id="col2">
            <h4 class="bd-footer-title has-text-weight-medium has-text-justify">
                Social Media
            </h4>

            <!-- Column 2 Social Media Links -->
            <p id="col2Links">
                <a href="https://www.tiktok.com/@evozna" target="_blank">
                    <img class="icon" src="assets/tiktokLogo.png" alt="TikTok">
                </a>
                <a href="https://www.twitch.tv/evozna" target="_blank">
                    <img class="icon" src="assets/twitchLogo.png" alt="Twitch">
                </a>
                <a href="https://www.youtube.com/c/EvozNA" target="_blank">
                    <img class="icon" src="assets/ytLogo.png" alt="YouTube">
                </a>
            </p>

        </div>
    </div>
</footer>