<section class="hero is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="subtitle" style="font-size:medium" id="pathTitle">
                Home / About Me
            </p>
            <h1 class="title" style="font-size: 60px;" id="title">
                About Me
            </h1>
        </div>
    </div>
</section>

<!-- Begin Main Content -->
<div class="main-content">
    <!-- Begin About Me Section -->
    <div class="section-light about-me" id="about-me">
        <div class="container">
            <div class="column"><br></div>
            <div class="columns is-multiline">
                <div class="column is-6 has-vertically-aligned-content" data-aos="fade-right">
                    <p class="is-larger">
                        &emsp;&emsp;<b>My name is David Nguyen, and at the time of this class… 
                            I am a 21-year-old fourth-year student.</b>
                    </p>
                    <br>
                    <p>
                        I build custom computers, keyboards, and sometimes computer mouses for family 
                        and friends. From time to time, I like to video edit. Video editing is 
                        one of my biggest hobbies since high school. I usually edit the video clips 
                        I get from the games I play. The main games I play are Valorant, Apex Legends, 
                        Osu!, and Minecraft.
                    </p>
                    <br>
                    <p>
                        At the moment, I am a student intern at HFS Soft, doing a Web Development project.
                        I work with <i>C#, TypeScript, Angular.js, ASP.net, and SQL.</i>
                    </p>
                </div>
                <div class="column is-6 right-image " data-aos="fade-left">
                    <img class="is-rounded" src="/assets/pictureOfMyself.jpg" alt="" style="border: 2px solid #a8b5d1;">
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Me Content -->