<section class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered" id="title">
            <h1 class="title" style="font-size: 60px;">
                D.Nguyen CSC196W
            </h1>
            <div class="overlay">
                <p class="subtitle">
                    Welcome to the homepage! I know this is poorly
                    developed, but I was in a rush into getting this one
                    out for school! Check out the other tabs... if they're
                    developed. 🤣
                </p>
            </div>
        </div>
    </div> 
</section>